*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

li{
    display: flex;
    align-items: center;
}

img{
    object-fit: cover;
}

.main{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    gap: 2.0em;
}

.split{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    gap: 0.5em;
}
.split.left{
    flex: 2;
}

.background{
    width: 100%;
    height: 100px;
    background-color: green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 50%);
    box-sizing: border-box;
    padding: 0.5em;
}

.panel.profile{
    padding: 0;
}

.content{
    padding: 0.5em;
}

#edit_profile{ /* Button */
    background-color: lightgray; 
    width: 120px;

    border: 0;
    margin-top: 10px;
    border-radius: 10px;
    transition: background-color 0.2s;
}

#edit_profile:hover{
    background-color: lightblue;
}


.profile_picture{
    position: absolute;
    margin: 15px;
    width: 100px;
    height: 100px;
    border: 5px solid aliceblue;
    border-radius: 100%;
}

.profile_picture.connections{
    position: static;
    margin: 0;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: black solid 3px;
}

.profile_picture.connections.request{
    border: deepskyblue solid 3px;
    border-radius: 12px;
}

.nav_bar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    background-color: darkgreen;
    font-size: larger;
}


.nav_split.right{
    flex: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1%;
    flex-wrap: wrap;
}

.nav_item{
    color: white;
    border-radius: 8px;
    padding: 4px;
    transition: color 0.3s ease;

}

.nav_item:hover {
    color: cornflowerblue;
}

.perfil{
    font-size: 32px;
}

.perfil a{
    color: white;
}


#close_session{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0.5em;
    background-color: rgb(44, 44, 44);
}

.connection_button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0;
    background-color: transparent;
    justify-self: flex-end;
    transition: background-color 0.2s ease-in;
}

.connection_button img{
    height: 100%;
}

.connection_button:hover{
    background-color: lightblue;
}


.connection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.connection.request{
    flex-wrap: wrap;
    justify-content: space-evenly;
}


